<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <title>Smart Password Generator</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </head>
    <body>
        <h3>Smart Password Generator</h3>
        <div class="container">
            <h4>Customize your password</h4>
            <hr class="line">

            <!--Password length input-->
            <div class="length">
                <label for="pwdlength">Length:</label><br>
                <input type="number" id="pwdlength" name="pwdlength" min="4" max="30" value="8">
                <br>
                <label for="rangeInput"></label>
                <input type="range" id="rangeInput" min="4" max="30" value="8">
            </div>

            <!-- Character type selection checkboxes -->
            <div class="custom-checkbox">
                <input type="checkbox" id="uppercase" name="uppercase" class="checkbox" checked>
                <label for="uppercase">Uppercase</label>
                <br>
                <input type="checkbox" id="lowercase" name="lowercase" class="checkbox" checked>
                <label for="lowercase">Lowercase</label>
                <br>
                <input type="checkbox" id="numbers" name="numbers" class="checkbox" checked>
                <label for="numbers">Numbers</label>
                <br>
                <input type="checkbox" id="symbols" name="symbol" class="checkbox" checked>
                <label for="symbols">Symbols</label>
            </div>

        </div>
        <button class="button" id="generate-button">Generate Password</button>

        <!-- Password display and action buttons -->
        <div class="password-container">
            <div id="password-display" class="password">pass1234</div>
        </div>

        <button class ="button" id="copy-button">Copy Password</button>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>